<div class="frame-container">
  <div class="content-container">
    <h2 class="title">FORGOT PASSWORD</h2>
    <p class="description">
      Enter the email address associated with your account
    </p>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="user_email">Email address</label>
        <input
          id="user_email"
          type="email"
          formControlName="user_email"
          placeholder="Email address"
          [class.error]="forgotPasswordForm.get('user_email')?.invalid && forgotPasswordForm.get('user_email')?.touched"
          (blur)="markTouched('user_email')"
        />
        <!-- Đánh dấu là touched khi người dùng blur -->
        <small
          [ngClass]="{
            visible: forgotPasswordForm.get('user_email')?.invalid &&
              forgotPasswordForm.get('user_email')?.touched
          }"
        >
          {{ getErrorMessage('user_email') }}
        </small>
      </div>
      <button
        class="submit-button"
        type="submit"
        [disabled]="forgotPasswordForm.invalid"
      >
        CONTINUE
      </button>
    </form>
    <p class="signup-link">
      Do you have an account? <a href="http://localhost:4200/register">Sign up</a>
    </p>
  </div>

  <!-- Popup -->
  <div class="popup" [ngClass]="{ visible: popupMessage }" *ngIf="popupMessage">
    <div class="popup-content">
      <p>{{ popupMessage }}</p>
      <button (click)="closePopup()">OK</button>
    </div>
  </div>
</div>
