<h1>My Cart</h1>

<div class="row">
  <div class="col-9">
    <table class="table table-hover align-middle text-center">
      <thead>
        <tr>
          <th></th>
          <th scope="col">PRODUCT</th>
          <th scope="col">PRICE</th>
          <th scope="col">QUANTITY</th>
          <th scope="col">TOTAL</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cartProduct of cartProducts, let i = index">
          <td>
            <div class="d-flex flex-row justify-content-center align-items-center">
              <input type="checkbox" name="" id="">
            </div>
          </td>

          <td class="text-start" scope="row">
            <div class="row">
              <div class="col-5">
                <div class="d-flex flex-column justify-content-center align-items-center">
                  <img [src]="cartProduct.product_lines[0].image_urls[1]" alt="" style="width: 60%;">
                </div>
              </div>

              <div class="col">
                <p>{{cartProduct.product_name}}</p>
                <p>{{cartProduct.product_lines[0].product_line_name}}</p>
              </div>
            </div>
          </td>

          <td>${{cartProduct.product_price}}</td>

          <td>
            <div class="d-flex flex-row justify-content-center align-items-center gap-2 quantity">
              <button>-</button>
              <p class="m-0">{{cartLines[i].quantity}}</p>
              <button (click)="plusQuantity(cartProduct)">+</button>
            </div>
          </td>

          <td>${{cartProduct.product_price * cartLines[i].quantity}}</td>

          <td>
            <div class="d-flex flex-row justify-content-center align-items-center">
              <button class="btn" (click)="delete(cartLines[i]._id!)">
                <img src="Icons/cross-button.svg" alt="">
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container col">
    <h3>Summary</h3>
    <p>Items: 2</p>

    <div class="d-flex flex-row">
      <p class="flex-grow-1">Subtotal:</p>
      <p>$190</p>
    </div>

    <div class="d-flex flex-row">
      <p class="flex-grow-1">Shipping Fee:</p>
      <p>$5</p>
    </div>

    <button class="btn">
      Apply voucher ->
    </button>

    <hr>

    <div class="d-flex flex-row">
      <p class="flex-grow-1">
        Order Total
      </p>

      <p>$195</p>
    </div>
    <button class="btn btn-outline-warning" style="width: 100%;">
      Proceed to checkout
    </button>
  </div>
</div>
