<div class="container-fluid bg-black">
  <div class="container py-5">
    <div class="row row-cols-3">
      <div class="col">
        <p id="hashtag">&#64;vpandaseyewear</p>
        <p id="instruction">Follow us on social for the latest trends and tag #vpandas in your new eyewear!</p>
        <p id="follow">Follow us</p>

        <div class="d-flex flex-row">
         <a href="" class="media">
          <img src="Icons/instagram.svg" alt="" class="media-icon">
         </a>

         <a href="" class="media">
          <img src="Icons/facebook.svg" alt="" class="media-icon">
         </a>

         <a href="" class="media">
          <img src="Icons/tik-tok.svg" alt="" class="media-icon">
         </a>

         <a href="" class="media">
          <img src="Icons/twitter.svg" alt="" class="media-icon">
         </a>
        </div>
      </div>

      <div class="col">
        <p class="function-title">Products</p>
        <div class="d-flex flex-column">
          <a href="">Eyeglasses</a>
          <a href="">Sunglasses</a>
          <a href="">contacts</a>
          <a href="">Accessories</a>
        </div>
      </div>

      <div class="col">
        <p class="function-title">Customize</p>
        <div class="d-flex flex-column">
          <a href="">Eyeglasses</a>
          <a href="">Sunglasses</a>
        </div>


      </div>

      <div class="col">
        <p class="function-title">From 8 a.m - 9 p.m</p>
        <div class="d-flex flex-column">
          <div class="d-flex flex-row">
            <img src="Icons/phone-call.svg" alt="" class="contact-icon me-2">
            <p class="contact">888. 8888. 888</p>
          </div>

          <div class="d-flex flex-row">
            <img src="Icons/email.svg" alt="" class="contact-icon me-2">
            <p class="contact">vpandasew&#64;gmail.com</p>
          </div>
        </div>
      </div>

      <div class="col"></div>

      <div class="col">
        <p class="function-title">Policies & Information</p>
        <div class="d-flex flex-column">
          <a href="">Privacy Policy</a>
          <a href="">Terms of service</a>
          <a href="">Shipping & return policy</a>
          <a href="">Payment methods</a>
        </div>
      </div>

      <div class="col">
        <p class="function-title">About us</p>
        <div class="d-flex flex-column">
          <a href="">Our Story</a>
          <a href="">Vision & Mission</a>
          <a href="">Community intiatives</a>
        </div>
      </div>

      <div class="col"></div>
    </div>
  </div>
</div>
