<div class="container-fluid bg-black">
  <div class="container py-5">
    <div class="row">
      <div class="col-4">
        <div class="d-flex flex-column w-75">
          <p id="nametag">&#64;vpandaseyewear</p>
          <p>Follow us on social for the latest trends and tag #vpandas in your new eyewear!</p>
          <p id="follow">Follow us</p>

          <div class="d-flex flex-row align-items-center">
            <a href="" class="me-3">
              <img src="Icons/instagram.svg" alt="">
            </a>
            <a href="" class="me-3">
              <img src="Icons/facebook.svg" alt="">
            </a>
            <a href="" class="me-3">
              <img src="Icons/tik-tok.svg" alt="">
            </a>
            <a href="" class="me-3">
              <img src="Icons/twitter.svg" alt="">
            </a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="d-flex flex-column">
          <p class="title">Products</p>

          <div class="d-flex flex-column">
            <a href="">Eyeglasses</a>
            <a href="">Sunglasses</a>
            <a href="">Contacts</a>
            <a href="">Accessories</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="d-flex flex-column">
          <p class="title">Customize</p>

          <div class="d-flex flex-column flex-grow-1">
            <a href="">Eyeglasses</a>
            <a href="">Sunglasses</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="d-flex flex-column">
          <p class="title">From 8 a.m - 9 p.m</p>
          <div class="d-flex align-items-center">
            <img src="Icons/phone-call.svg" alt="" class="me-2">
            <p class="mb-0">888. 8888. 888</p>
          </div>

          <div class="d-flex">
            <img src="Icons/email.svg" alt="" class="me-2">
            <p class="mb-0">vpandasew&#64;gmail.com</p>
          </div>
        </div>
      </div>

      <div class="w-100"></div>

      <div class="col-4"></div>

      <div class="col">
        <div class="d-flex flex-column">
          <p class="title">Policies & Information</p>

          <div class="d-flex flex-column">
            <a href="">Privacy Policy</a>
            <a href="">Terms of service</a>
            <a href="">Shipping & return policy</a>
            <a href="">Payment methods</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="d-flex flex-column">
          <p class="title">About us</p>

          <div class="d-flex flex-column">
            <a href="">Our Story</a>
            <a href="">Vision & Mission</a>
            <a href="">Community Initiatives</a>
          </div>
        </div>
      </div>

      <div class="col"></div>
    </div>
  </div>
</div>
