* {
  color: white;
  font-size: 1.1rem;
  font-weight: 300;
}

p#nametag {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 90%;
}

p#follow {
  font-size: 1.2rem;
  font-weight: 600;
}


p.title {
  font-size: 1.3rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  width: fit-content;
}

a:hover {
  color: #D96E05;
}

.hide {
  display: none;
}

@media (max-width: 992px)
{
  .hide-lg {
    display: none;
  }

  .show-lg {
    display: block;
  }
}

@media (max-width: 768px)
{
  .hide-md {
    display: none;
  }

  .show-md {
    display: block;
  }
}

@media (max-width: 576px)
{
  .hide-sm {
    display: none;
  }

  .show-sm {
    display: block;
  }
}

