<div class="container">
  <div class="d-flex flex-row">
    <div class="container" style="width: 50rem;">
      <div class="d-flex flex-row">
        <div class="container">
          <div class="container" *ngFor="let image_url of product['images by colors'][0]['image urls']">
            <img class="img-small" [src]="image_url" width="80px">
          </div>
        </div>

        <div class="container">
          <img [src]="product['images by colors'][0]['image urls'][1]" alt="" width="500px">
        </div>
      </div>
    </div>

    <div class="container bg-color-gray" style="width: 50rem;">
      <div class="container m-4">
        <h3>{{product.name}}</h3>
        <div class="d-flex flex-row">
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <i class="bi bi-star"></i>
          <p class="ms-2">({{reviews_count}} reviews)</p>
        </div>
        <div class="d-flex align-items-center box bg-color-darkgray">
          <h3 class="ms-4">${{product.price}}.00</h3>
        </div>
      </div>
    </div>
  </div>
</div>
