.bg-color-gray {
  background-color: #D9D9D938;
}

.bg-color-orange {
  background-color: #FFF6E9;
}

a.product {
  color: inherit;
  text-decoration: none;

   transition: 0.5s ease-out;
}

a.product:hover {
  transform: translateY(-10px);
  background-color: #0000001A;
  filter: brightness(0.9);
}

p.name {
  font-weight: 400;
}

p.price {
  font-size: 0.65rem;
  font-weight: 400;
}

div.display-image {
  width: 60%;

  .option-btn {
    border: 0.5px solid #D9D9D980;
    background-color: transparent;
    padding: 20px 15px;
  }

  .selected {
    border: 2px solid #000000;
  }

  img.option-image {
    width: 4em;
  }

  button.live-try-on {
    color: #ffffff;
    font-weight: 400;
    background-color: #D96E05;
    border-radius: 25px;

    transition: 0.3s ease-in;
  }

  button.live-try-on:hover {
    transform: translateY(-10px);
  }
}


div.product-interaction {
  width: 50%;

  p.name {
    font-size: 1.5rem;
    font-weight: bold;
  }

  p.review-count {
    font-size: 0.8rem;
    font-weight: 400;
  }

  p.price {
    font-size: 1.2rem;
    font-weight: bold;
  }

  p.promo {
    font-size: 0.8rem;
    font-weight: bold;
    color: #D96E05;
  }

  div.btn-group-size {
    button {
      font-size: 0.7rem;
      font-weight: bold;
      background-color: white;
      border: 0.2px solid #D9D9D9;
      width: 8em;
      padding-left: 5%;
      padding-right: 5%;
    }

    button.selected {
      border: 2px solid #000000;
    }
  }

  button.add {
    font-weight: 500;
    color: #D96E05;
    background-color: transparent;
    border: 0.2px solid #D96E05;
    border-radius: 0;
    width: 45%;
    padding: 10px 0px;

    transition: 0.3s ease-in;
  }

  button.add:hover {
    color: #ffffff;
    background-color: #D96E05;
  }

  button.buy {
    font-weight: 500;
    color: #ffffff;
    background-color: #D96E05;
    border: 0.2px solid #D96E05;
    border-radius: 0;
    width: 45%;
    padding: 10px 0px;

    transition: 0.3s ease-in;
  }

  button.buy:hover {
    color: #D96E05;
    background-color: transparent;
  }
}

div.details {
  font-weight: 500;

  .toggle-between {
    display: none;
  }

  button {
    color: #949494;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #00000080;
    border-radius: 0px;
    padding: 0px 15px;
  }

  button.focus {
    color: #000000;
    font-weight: bold;
    border-bottom: 3px solid #000000;
  }

  div.content {
    color: #00000080;
    font-size: 0.8rem;
    font-weight: 500;
    border: 1px solid #00000080;
    border-radius: 5px;
    padding: 20px;
    width: 75%;

    p.title {
      color: #000000;
      font-size: 1.2rem;
      font-weight: 600;
    }

    li>b {
      color: #000000;
    }
  }

  div#policy {
    table, th, td {
      border: 1px solid #00000080;
      border-radius: 5px;
      border-collapse: collapse;

      th, td {
        padding: 5px;
        text-wrap: nowrap;
      }

      th, td:nth-child(1) {
        color: #000000;
        text-align: center;
      }
    }
  }
}

div.review {
  .average-rating {
    color: #D96E05;
    font-size: 2.75rem;
    font-weight: bold;
    margin: 0px;
  }

  .username, .title {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 0px;
  }

  .title {
    line-height: 95%;
  }

  .review-text {
    font-size: 0.8rem;
  }

  .see-more {
    color: #D96E05;
    font-weight: bold;
    border-color: #D96E05;
  }

  .see-more:hover {
    color: #ffffff;
    background-color: #D96E05;
  }

  .see-more:disabled {
    color: #949494;
    border-color: #949494;
  }
}

@media (max-width: 992px)
{
  div.display-image {
    width: 100%;
  }

  div.product-interaction {
    width: 100%;
  }
}



