* {
  font-size: 1.1rem;
  color: #00000080;
}

div.promo {
  background-color: #D96E05;

  p#promo {
    color: #ffffff;
    font-weight: 400;
    font-size: 1rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #D96E05;
}

a.manage:hover {
  color: black;
}
