<div>
  <div class="box text-center">
    <p id="promo">Discount Glasses - up to 50% off Eyeglasses Sale Online</p>
  </div>

  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <div class="d-flex flex-row">
          <label for="search-bar">
            <img src="Icons/search.svg" alt="" class="icon mt-2">
          </label>
          <input class="form-control border-0" type="text" name="search-bar" id="search-bar" placeholder="Search">
        </div>
      </div>

      <div class="col text-center">
        <a href="">
          <img src="Logo/VP_logo.png" alt="">
        </a>
      </div>

      <div class="col text-end">
        <div class="d-flex flex-row justify-content-end">
          <a href="" class="me-4" id="exception">Account</a>
          <a href="" id="exception">
            Cart
            <img src="Icons/shopping-bag.svg" alt="" class="mb-1">
          </a>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="container">
    <div class="d-flex flex-row justify-content-between">
      <a href="">About us</a>
      <a href="">Eyeglasses</a>
      <a href="">Sunglasses</a>
      <a href="">Customize</a>
      <a href="">Contacts</a>
      <a href="">Accessories</a>
    </div>
  </div>
</div>
