<!--Heroes-->
<div class="heroes">
  <div class="heroes-content">
    <div class="heroes-text">
      <button class="shop-now-button">SHOP NOW</button>
    </div>
  </div>
</div>
<!--Features-->
<div class="container px-4 py-5" id="featured-3">
  <div class="row g-4 py-5 row-cols-1 row-cols-md-2 row-cols-lg-4">
    <!-- Feature 1 -->
    <div class="feature col">
      <div
        class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
      >
        <img
          src="Icons/Features/free-delivery-icon.png"
          alt="Free Delivery"
          class="icon"
        />
      </div>
      <h3 class="text-body-emphasis">FREE DELIVERY FROM $200</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget
        malesuada magna.
      </p>
    </div>
    <!-- Feature 2 -->
    <div class="feature col">
      <div
        class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
      >
        <img
          src="Icons/Features/gift-box-icon.png"
          alt="Free Gift"
          class="icon"
        />
      </div>
      <h3 class="text-body-emphasis">FREE GIFT</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget
        malesuada magna.
      </p>
    </div>
    <!-- Feature 3 -->
    <div class="feature col">
      <div
        class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
      >
        <img
          src="Icons/Features/padlock-icon.png"
          alt="Money Back Guarantee"
          class="icon"
        />
      </div>
      <h3 class="text-body-emphasis">MONEY BACK GUARANTEED</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget
        malesuada magna.
      </p>
    </div>
    <!-- Feature 4 -->
    <div class="feature col">
      <div
        class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
      >
        <img
          src="Icons/Features/30-days-icon.png"
          alt="30 Days Warranty"
          class="icon"
        />
      </div>
      <h3 class="text-body-emphasis">30 DAYS WARRANTY</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget
        malesuada magna.
      </p>
    </div>
  </div>
</div>

<div class="cta-container">
  <div class="cta-content">
    <!-- Women's Glasses -->
    <div class="cta-item">
      <div class="cta-text">
        <h3>WOMEN'S GLASSES</h3>
        <a href="#" class="cta-button">Shop Now</a>
      </div>
      <div class="cta-image">
        <img
          src="Images/Shop-women.jpg"
          alt="Women's Glasses"
          class="cta-img"
        />
      </div>
    </div>

    <!-- Men's Glasses -->
    <div class="cta-item">
      <div class="cta-text">
        <h3>MEN'S GLASSES</h3>
        <a href="#" class="cta-button">Shop Now</a>
      </div>
      <div class="cta-image">
        <img src="Images/Shop-men.jpg" alt="Men's Glasses" class="cta-img" />
      </div>
    </div>
  </div>
</div>

<section class="best-selling">
  <!-- Title -->
  <h2 class="best-selling-title">Best Selling Glasses</h2>

  <!-- Subtitle -->
  <p class="best-selling-subtitle">SAVE UP TO $125 ON VP EVENT</p>

  <!-- Carousel -->
  <div class="carousel-container">
    <!-- Buttons -->
    <button class="nav-btn prev-btn" (click)="navigate('prev')">
      <span class="icon">&lt;</span>
    </button>
    <button class="nav-btn next-btn" (click)="navigate('next')">
      <span class="icon">&gt;</span>
    </button>

    <div class="carousel" [style.transform]="carouselTransform">
      <div class="product-card" *ngFor="let product of visibleProducts">
        <img
          [src]="product.product_lines[0].image_urls[1]"
          alt="{{ product.product_name }}"
          class="product-image"
          (mouseenter)="hoverImage(product._id, true)"
          (mouseleave)="hoverImage(product._id, false)"
        />
        <!-- Product Name -->
        <h3 class="product-name">{{ product.product_name }}</h3>
        <!-- Product Price -->
        <p class="product-price">{{ product.product_price | currency }}</p>
      </div>
    </div>
  </div>
</section>
