<h1>Payment</h1>

<div class="d-flex flex-column">
  <div class="d-flex flex-column">
    <div class="d-flex flex-row align-items-center">
      <h3 class="flex-grow-1">My address</h3>
      <button class="btn">+</button>
    </div>

    <div class="d-flex flex-row align-items-center">
      <div class="flex-grow-1">
        <p>
          Ms.Marry - (+83)758697058
        </p>

        <p>
          123 Pham Van Dong, Linh Trung, Thu Duc, Ho Chi Minh City
        </p>
      </div>

      <button class="btn">
        Edit
      </button>
    </div>
  </div>

  <div class="d-flex flex-column">
    <div class="d-flex flex-row align-items-center">
      <h3 class="flex-grow-1">Items</h3>
      <button class="btn">+</button>
    </div>

    <div class="d-flex flex-row align-items-center">
      <div class="flex-grow-1">
        <p>
          Ms.Marry - (+83)758697058
        </p>

        <p>
          123 Pham Van Dong, Linh Trung, Thu Duc, Ho Chi Minh City
        </p>
      </div>

      <button class="btn">
        Edit
      </button>
    </div>
  </div>
</div>
