h2 {
    font-weight: 700;
  }
  
  .bg-light {
    background-color: #fdf2e9 !important;
  }
  
  .text-warning {
    color: #e67e22 !important;
  }

.team-image img {
    width: 100%;      /* Fill toàn bộ chiều rộng */
    object-fit: cover; /* Hình hiển thị đúng tỷ lệ */
  }
  