button#filter-btn {
  span {
    font-size: 1.2rem;
    font-weight: 500;
  }

  img {
    rotate: 180deg;
    transition: 0.5s ease-in-out;
  }

  img.rotate {
    rotate: 360deg;
  }
}

.navigation-tree {
  li, a {
    font-size: 0.8rem;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

p.catalog-title {
  font-family: "Tiro Bangla";
  font-style: italic;
  font-size: 1.75rem;
}

div#filter {
  transition: 0.5s ease-in-out;
  overflow: hidden;
}

div.close {
  width: 0px;
}

div.options {
display: grid;

  button {
    span {
      font-size: 1.2rem;
      font-weight: 500;
    }

    img {
      rotate: 180deg;
      transition: 0.5s ease-in-out;
    }

    img.rotate {
      rotate: 270deg;
    }
  }

  div.submenu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.5s ease-in-out;

    div {
      overflow: hidden;

      div{
        font-size: 1.2rem;
        font-weight: 300;
      }
    }
  }

  div.submenu.show {
    grid-template-rows: 1fr;
  }
}


p.name {
  font-weight: 400;
}

p.price {
  font-size: 0.65rem;
  font-weight: 400;
}

a.product {
  color: inherit;
  text-decoration: none;

   transition: 0.5s ease-out;
}

a.product:hover {
  transform: translateY(-10px);
  background-color: #0000001A;
  filter: brightness(0.9);
}

div.color-circle {
  img {
    width: 5%;
  }
}

button.seemore {
  font-size: 0.9rem;
  font-weight: 400;
  color: #D96E05;
  border: 1px solid #D96E05;

  transition: 0.3s ease;
}

button.seemore:hover {
  color: #ffffff;
  background-color: #D96E05;
}
