<div class="container">
  <div class="d-flex flex-wrap justify-content-center items-start">
    <div class="card me-3 mb-3 border-0" style="width: 22rem;" *ngFor="let product of products">
      <a [routerLink]="['/eyeglasses', product._id]">
        <img [src]="product['images by colors'][0]['image urls'][1]" class="card-img-top mt-5 mb-3 px-4" alt="..." loading="Lazy">
        <div class="card-body text-center">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">${{product.price}}.00</p>
        </div>
      </a>
    </div>
  </div>
</div>
